@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', sans-serif;
    background-color: black;
    background-image: radial-gradient(rgb(252, 182, 159), antiquewhite);
    padding-left: 0;
    padding-right: 0;
}

.barra {
    position:static;
    top: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: antiquewhite;
    align-items: center;
    height: auto;
    letter-spacing: 10px;
}

.header__titulo {
    text-align: center;
    font-size: 5vw;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 50px;
}
.header__subtitulo {
    padding: 15px;
    color: black;
    text-shadow: 2px 2px 5px white;
    text-align: center;
}


.nav {
    background-color: antiquewhite; 
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: auto;

}

.nav__items {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;

}

.nav__link {
    padding: 5px;
    text-align: right;
    border: black solid;
    background-color: black;
    border-width: 1px;
    margin: 2px;
    padding: 2px;
}

.nav__links {
    text-decoration: none;
    font-size: small;
    font-weight: bolder;
    color: white;
}

.main {
    padding: 5%;

}

.footer {
    background-color: antiquewhite;
    position:static;
    bottom: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__search {
    position: absolute;
    padding: 10px;
    width: 100%;
}

/*NOSOTROS*/
/*NOSOTROS empleados*/
.subtitulo {
    text-align: center;
    margin-top: 5%;
    position: relative; 
}
.empleados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 10%;
}

.foto__carnet {
    border-radius: 20%;
    height: 400px;
}

.foto__boton {
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
    display: block;
    border: 2px solid black;
    background-color: black;
    transition: all 1s;
    
}

.foto__boton:hover {
    background-color: gray;
}

.otroSubtitulo {
    text-decoration: underline;
    text-align: center;
}

/*NOSOTROS grid link*/
.link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 100px;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
}

/*NOSOTROS otros*/
.link__empresa {
    border-style: dotted;
    padding: 10px;
    color: aliceblue;
    background-color: black;
    text-align: center;
}

/*grid*/
.grid-main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    justify-items: center;
}

.grid-main p {
    font-weight: 900;
    text-align: center;
    padding: 10px;
}

.grid-fotos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 70px;
    
}

.grid-fotos img {
    width: 90%;
    height: 90%;
    object-fit: cover; 
    border-radius: 8px;
    border: 2px solid black;
}

/*CONTACTO*/
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}

/*SERVICIOS*/
.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin: 60px;   
}
 
.texto {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color: antiquewhite;
    transition: all 1   s;
}

.texto:hover {
    background-color: rgb(243, 197, 137);
}


/*INSTALACIONES*/
.subtitulo {
    background-color: antiquewhite;
    color: darksalmon;
}

.instalaciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 10%;
}

.foto__titulo {
    text-align: center;
    font-weight: bolder;
}

.foto__foto {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textoInstalaciones {
    text-align: center;
    padding: 2%;
}


@media only screen and (max-width: 992px) {
    .empleados {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 100px;
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
    }

    .instalaciones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 100px;
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
    }

    .grid-main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        width:100%;
        padding: 20px;
        justify-items: auto;
    }
}


@media only screen and (max-width: 600px) { 
    .grid-fotos {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        padding-top: 70px;
        justify-items: center;
    }

    .empleados {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 100px;
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
    }

    .link {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 100px;
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
    }


}
