@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Signika Negative', sans-serif;
  background-color: #cadfe7;
  padding-left: 0;
  padding-right: 0;
  min-height: 90vh;
  min-width: 9gi0vh;
  overflow-x: hidden; }

.titulo {
  background-color: aliceblue;
  font-size: 2vw;
  color: black;
  text-shadow: 2px 2px 5px white;
  text-align: center; }

.main {
  padding-top: 3%;
  padding-bottom: 3%; }

.barraHeader {
  width: 100%;
  height: 500px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center center;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }
  .barraHeader .header__box {
    width: 100%; }
  .barraHeader .header {
    height: auto;
    letter-spacing: 10px;
    text-align: left;
    display: inline-block;
    padding-left: 5%; }
    .barraHeader .header .header__titulo {
      text-align: left;
      font-size: 4.5vw;
      color: white;
      text-shadow: 2px 2px 5px black;
      padding-top: 1%;
      padding-left: 5%; }
    .barraHeader .header .header__subtitulo {
      text-align: left;
      font-size: 1.3vw;
      color: black;
      text-shadow: 2px 2px 5px aliceblue;
      padding-left: 5%;
      padding-bottom: 1%; }
  .barraHeader .nav {
    padding: 10px;
    text-align: right;
    height: auto;
    display: inline-block;
    margin: 10px;
    position: absolute;
    right: 1px;
    padding-top: 10%; }
    .barraHeader .nav .nav__items {
      display: block;
      text-align: right;
      list-style: none;
      padding: 12px; }
      .barraHeader .nav .nav__items .nav__link {
        padding: 1%; }
        .barraHeader .nav .nav__items .nav__link .nav__links {
          text-decoration: none;
          font-size: small;
          font-weight: bolder;
          color: black;
          border: solid;
          border-color: aliceblue;
          border-radius: 50px;
          background-color: aliceblue;
          padding: 5px;
          margin: 5px; }
          .barraHeader .nav .nav__items .nav__link .nav__links:hover {
            background-color: grey; }

/*LISTADO RESUMEN DE LO QUE OFRECEMOS*/
.servicios__lista {
  padding: 2%;
  margin-left: 5%;
  text-align: left;
  position: relative; }
  .servicios__lista .servicios__ul {
    list-style: circle; }
    .servicios__lista .servicios__ul .servicios__li {
      line-height: 2.5; }
      .servicios__lista .servicios__ul .servicios__li .servicios__a {
        font-size: small;
        font-weight: bold; }

/*GALERIA DE FOTOS*/
.grid-galeria {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 1%;
  padding-left: 5%;
  padding-bottom: 3%;
  padding-top: 3%; }
  .grid-galeria .grid-fotos {
    height: 90%;
    object-fit: cover;
    padding-top: 10%; }

/*GALERIA DE VIDEOS*/
.video {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-bottom: 5%;
  margin: 5%;
  padding-left: 5%; }

.empleados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 3%;
  justify-items: center;
  column-gap: 2%; }
  .empleados .foto__individual {
    border: solid 5px white;
    background-color: black;
    color: white;
    position: relative; }
    .empleados .foto__individual .foto__carnet {
      opacity: 1;
      width: 100%;
      display: block;
      transition: .5s ease;
      height: auto;
      backface-visibility: hidden; }
      .empleados .foto__individual .foto__carnet:hover {
        opacity: 0.3; }
    .empleados .foto__individual .foto__boton {
      text-align: center;
      font-weight: bold; }
    .empleados .foto__individual .efecto {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
      .empleados .foto__individual .efecto:hover {
        opacity: 1; }
      .empleados .foto__individual .efecto .efecto__empleados {
        background-color: #4CAF50;
        color: white;
        font-size: 16px; }

.colaboradores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%; }
  .colaboradores .link__empresa {
    border: solid 3px black;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    padding: 1%; }
    .colaboradores .link__empresa:hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5); }

.grid__main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-items: center; }
  .grid__main .index__texto {
    text-align: center;
    word-spacing: 5px;
    background-color: aliceblue;
    margin: 10%;
    padding: 2%;
    border: solid 5px white; }
    .grid__main .index__texto:hover {
      font-weight: bolder;
      background-color: white; }

.instalaciones {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 10%;
  padding-top: 5%; }
  .instalaciones .fotoInstalaciones {
    width: 73%;
    background-color: white;
    margin-bottom: 25px; }
    .instalaciones .fotoInstalaciones .contenedor {
      text-align: center;
      padding: 10px 20px; }

.formulario {
  padding: 5%; }
  .formulario input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: aliceblue;
    color: black; }
    .formulario input:hover {
      border: solid black; }
  .formulario textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: aliceblue; }
    .formulario textarea:hover {
      border: solid black; }
  .formulario .botones {
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s; }
    .formulario .botones .boton {
      background-color: aliceblue;
      border: black solid;
      border-width: 2px;
      color: black; }
      .formulario .botones .boton:hover {
        background-color: black;
        color: white; }

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  font-size: small; }
  .footer .footer__redes {
    display: inline-block;
    right: 5%;
    position: absolute; }
    .footer .footer__redes .footer__fotos {
      padding: 5px; }
      .footer .footer__redes .footer__fotos:hover {
        transform: scale(1.5); }
  .footer .footer__search {
    position: absolute;
    padding: 10px;
    width: 100%; }

@media (min-width: 480px) and (max-width: 991.98px) and (orientation: portrait) {
  body {
    background: orange;
    width: 100%;
    overflow-x: hidden;
    margin: 0; }
  .header {
    display: block; }
  .grid-main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-items: center;
    width: 800px; }
  .grid-galeria {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 2%;
    padding-bottom: 3%;
    padding-top: 3%; }
  .video {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    row-gap: 5%;
    margin-bottom: 5%;
    margin: 5%;
    padding-left: 10%; }
  .empleados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 3%;
    justify-items: center;
    row-gap: 5%; }
  .colaboradores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5%;
    column-gap: 5%;
    padding: 5%; }
    .colaboradores .link__empresa {
      border: solid 5px white;
      border-radius: 0%;
      background-color: aliceblue;
      text-align: center;
      box-sizing: content-box;
      width: 100%; }
      .colaboradores .link__empresa:hover {
        background-color: aliceblue;
        color: black; }
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 7%;
    justify-items: normal;
    padding: 5%; }
  .instalaciones {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 10%;
    padding-top: 5%; }
    .instalaciones .fotoInstalaciones {
      width: 54%;
      background-color: white;
      margin-bottom: 25px; }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

@media (max-width: 768px) and (orientation: portrait) {
  body {
    background: green; } }
