@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Signika Negative', sans-serif;
  background-color: #cadfe7;
  padding-left: 0;
  padding-right: 0;
  min-height: 90vh;
  min-width: 90vh;
  overflow-x: hidden; }

.titulo {
  background-color: aliceblue;
  font-size: 2vw;
  color: black;
  text-shadow: 2px 2px 5px white;
  text-align: center; }

.main {
  padding-top: 3%;
  padding-bottom: 3%; }

.barraHeader {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 500px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center center;
  padding: 12px; }
  .barraHeader .nav {
    display: flex;
    padding-top: 1px;
    text-align: right;
    height: auto;
    margin: 10px;
    right: 1px; }
    .barraHeader .nav .nav__items {
      text-align: center;
      list-style: none;
      width: 100%;
      padding-top: 1%;
      bottom: -1em; }
      .barraHeader .nav .nav__items .nav__link {
        display: inline-block; }
        .barraHeader .nav .nav__items .nav__link .nav__links {
          text-decoration: none;
          font-size: small;
          font-weight: bolder;
          color: black;
          border: solid;
          border-color: aliceblue;
          border-radius: 50px;
          background-color: aliceblue;
          padding: 5px;
          margin: 5px; }
          .barraHeader .nav .nav__items .nav__link .nav__links:hover {
            background-color: grey; }
  .barraHeader .header {
    height: auto;
    letter-spacing: 10px;
    text-align: left;
    display: inline-block; }
    .barraHeader .header .header__titulo {
      text-align: left;
      font-size: 7vw;
      color: white;
      text-shadow: 2px 2px 5px black;
      padding-top: 7%;
      padding-left: 1%; }
    .barraHeader .header .header__subtitulo {
      font-size: 1.3vw;
      text-align: left;
      text-shadow: 2px 2px 5px aliceblue;
      color: white;
      padding-bottom: 1%;
      padding-left: 5%; }

/*LISTADO RESUMEN DE LO QUE OFRECEMOS*/
.servicios__lista {
  padding: 2%;
  margin-left: 5%;
  text-align: left;
  position: relative; }
  .servicios__lista .servicios__ul {
    list-style: circle; }
    .servicios__lista .servicios__ul .servicios__li {
      line-height: 2.5; }
      .servicios__lista .servicios__ul .servicios__li .servicios__a {
        font-size: small;
        font-weight: bold; }

/*GALERIA DE FOTOS*/
.grid-galeria {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 1%;
  padding-left: 5%;
  padding-bottom: 3%;
  padding-top: 3%;
  width: 1500px; }
  .grid-galeria .grid-fotos {
    height: 90%;
    object-fit: cover;
    padding-top: 10%;
    max-width: 100%;
    max-height: 100%; }

/*GALERIA DE VIDEOS*/
.video {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-bottom: 5%;
  margin: 5%;
  padding-left: 5%; }
  .video .video__video {
    width: 560px;
    height: 315px; }

.empleados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 3%;
  justify-items: center;
  column-gap: 2%; }
  .empleados .foto__individual {
    background-color: aliceblue;
    color: black;
    position: relative; }
    .empleados .foto__individual .foto__carnet {
      border: solid 5px white;
      opacity: 1;
      width: 100%;
      display: block;
      transition: .5s ease;
      height: auto;
      backface-visibility: hidden; }
    .empleados .foto__individual .foto__boton {
      text-align: center;
      font-weight: bold;
      padding-top: 2%; }
    .empleados .foto__individual .efecto {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }

.colaboradores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%; }
  .colaboradores .link__empresa {
    border: solid 3px black;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    padding: 1%; }
    .colaboradores .link__empresa:hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5); }

.grid__main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-items: center; }
  .grid__main .index__texto {
    text-align: center;
    word-spacing: 5px;
    background-color: aliceblue;
    margin: 10%;
    padding: 2%;
    border: solid 5px white; }
    .grid__main .index__texto:hover {
      font-weight: bolder;
      background-color: white; }

.instalaciones {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 10%;
  padding-top: 5%; }
  .instalaciones .fotoInstalaciones {
    width: 73%;
    background-color: white;
    margin-bottom: 25px; }
    .instalaciones .fotoInstalaciones .contenedor {
      text-align: center;
      padding: 10px 20px; }

.formulario {
  padding: 5%; }
  .formulario input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: aliceblue;
    color: black; }
    .formulario input:hover {
      border: solid black; }
  .formulario textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: aliceblue; }
    .formulario textarea:hover {
      border: solid black; }
  .formulario .botones {
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s; }
    .formulario .botones .boton {
      background-color: aliceblue;
      border: black solid;
      border-width: 2px;
      color: black; }
      .formulario .botones .boton:hover {
        background-color: black;
        color: white; }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: static;
  bottom: 0;
  width: 100%;
  height: 15vh;
  column-gap: 2%;
  padding-top: 2%;
  background-color: black;
  color: white;
  font-size: small; }
  .footer .footer__datos {
    padding-left: 10%; }
  .footer .footer__redes {
    display: inline-block;
    right: 5%; }
    .footer .footer__redes .footer__fotos {
      padding: 5px; }
      .footer .footer__redes .footer__fotos:hover {
        transform: scale(1.5); }

@media (max-width: 480px) {
  body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    /*index*/
    /*nosotros*/
    /*planes*/
    /*instalaciones*/
    /*footer*/ }
    body .header {
      display: block; }
    body .grid-galeria {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      width: fit-content;
      row-gap: 1%;
      padding-left: 20%; }
      body .grid-galeria .grid-contenedor {
        padding-right: 5%; }
    body .video {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      row-gap: 5%;
      padding-left: 25%;
      padding-top: 5%;
      padding-bottom: 5%;
      margin: 0%; }
    body .empleados {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 2%;
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 15%;
      padding-bottom: 35%; }
    body .colaboradores {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding-left: 15%;
      padding-right: 15%;
      padding-bottom: 5%;
      row-gap: 10%;
      column-gap: 2%; }
      body .colaboradores .link__empresa {
        border-radius: 0%; }
    body .servicios {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      column-gap: 5%;
      row-gap: 7%;
      justify-items: normal;
      padding: 5%; }
    body .instalaciones {
      display: grid;
      grid-template-columns: 2fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding-left: 30%;
      padding-top: 5%; }
      body .instalaciones .fotoInstalaciones {
        width: 62%;
        background-color: white;
        margin-bottom: 25px; }
    body .footer {
      height: 10vh;
      padding-top: 5%; } }

@media (min-width: 480px) and (max-width: 768px) {
  body {
    /*index*/
    /*nosotros*/
    /*planes*/
    /*instalacioness*/
    /*footer*/ }
    body .grid-galeria {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      width: fit-content;
      row-gap: 1%;
      padding-left: 20%; }
      body .grid-galeria .grid-contenedor {
        padding-right: 5%; }
    body .video {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      row-gap: 5%;
      padding-left: 25%;
      padding-top: 5%;
      padding-bottom: 5%;
      margin: 0%; }
    body .empleados {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 2%; }
    body .colaboradores {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      padding: 5%;
      row-gap: 2%;
      column-gap: 2%; }
      body .colaboradores .link__empresa {
        border-radius: 0%; }
    body .grid__main {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      padding-top: 2%;
      padding-bottom: 2%; }
    body .instalaciones {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      padding-top: 5%;
      padding-left: 25%;
      padding-right: 10%; }
      body .instalaciones .fotoInstalaciones {
        width: 67%;
        background-color: white;
        margin-bottom: 25px; }
    body .footer {
      height: 10vh;
      padding-top: 5%;
      column-gap: 1%; }
      body .footer .footer__redes {
        right: 1%; }
        body .footer .footer__redes .footer__fotos {
          padding: 1px; } }

@media (min-width: 768px) and (max-width: 1330px) {
  body {
    /*index*/
    /*instalaciones*/
    /*footer*/ }
    body .grid-galeria {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 2fr;
      width: fit-content;
      row-gap: 1%;
      column-gap: 3%;
      padding-left: 10%; }
      body .grid-galeria .grid-contenedor {
        padding-right: 5%; }
    body .video {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      row-gap: 5%;
      padding-left: 25%;
      padding-top: 5%;
      padding-bottom: 5%;
      margin: 0%; }
    body .instalaciones {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 1fr 1fr;
      padding: 5%;
      row-gap: 2%;
      column-gap: 7%; }
      body .instalaciones .fotoInstalaciones {
        width: 100%; }
    body .footer {
      height: 10vh;
      padding-top: 5%; } }
