.footer {
    background-color: $base-marron;
    position:static;
    bottom: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .footer__search {
        position: absolute;
        padding: 10px;
        width: 100%;
    }
}