*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Signika Negative', sans-serif;
    background-color: white;
    background-image: radial-gradient(rgb(252, 182, 159), antiquewhite);
    padding-left: 0;
    padding-right: 0;
}