*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', sans-serif;
    background-color: blue;
    background-image: radial-gradient($base-marron, white);
    padding-left: 0;
    padding-right: 0;
}