*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', sans-serif;
    background-color: rgb(202, 223, 231);
    padding-left: 0;
    padding-right: 0;
    min-height: 90vh;
    min-width: 9gi0vh;
    overflow-x: hidden;
}

.titulo {
    background-color: $fondo-blanco;
    font-size: 2vw;
    color: black;
    text-shadow: 2px 2px 5px white;
    text-align: center;
}

.main {
    padding-top: 3%;
    padding-bottom: 3%;
    }