.header {
    background-color: antiquewhite;
    align-items: center;
    height: auto;
    letter-spacing: 10px;
    .header__titulo {
        text-align: center;
        font-size: 5vw;
        color: white;
        text-shadow: 2px 2px 5px black;
        padding-top: 50px;
        .header__subtitulo {
            padding: 15px;
            color: black;
            text-shadow: 2px 2px 5px white;
            text-align: center;
        }
    }
}