.barraHeader {
    width: 100%;
    height: 500px;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center center;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    .header__box {
        width: 100%;
    }

    .header {
        height: auto;
        letter-spacing: 10px;
        text-align: left;
        display: inline-block;
        padding-left: 5%;
        .header__titulo {
            text-align: left;
            font-size: 4.5vw;
            color: white;
            text-shadow: 2px 2px 5px black;
            padding-top: 1%;
            padding-left: 5%;
            
            }
            .header__subtitulo {
                text-align: left;
                font-size: 1.3vw;
                color: black;
                text-shadow: 2px 2px 5px $fondo-blanco;
                padding-left: 5%;
                padding-bottom:1%;
            }
    }
    .nav {
        padding: 10px;
        text-align: right;
        height: auto;
        display: inline-block;
        margin: 10px;
        position: absolute;
        right: 1px;
        padding-top: 10%;
        .nav__items {
            display: block;
            text-align: right;
            list-style: none;
            padding: 12px;
            
            .nav__link {
                padding: 1%;
                .nav__links {
                    text-decoration: none;
                    font-size: small;
                    font-weight: bolder;
                    color: black;
                    border: solid;
                    border-color: $fondo-blanco;
                    border-radius: 50px;
                    background-color: $fondo-blanco;
                    padding: 5px;
                    margin: 5px;
                &:hover {
                    background-color: grey;
                }
                }
            }
        }
    }
}


