.servicios__lista {
    padding: 10px;
    text-align: left;
    margin: 15px;
    position: relative;
}




.grid-galeria {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 1%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    .grid-fotos {
        height: 90%; 
        object-fit: cover;
        padding-top: 10%;
    }
}
.video{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 5%;
    margin: 5%;  
    padding-left: 5%;
}