.grid__main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-items: center;
    .index__texto{
        text-align: center;
        word-spacing: 5px;
        background-color: $fondo-blanco;
        margin: 10%;
        padding: 2%;
        border: solid 5px white;
        &:hover {
            font-weight: bolder;
            background-color: white;
        }
    }
}

