/*LISTADO RESUMEN DE LO QUE OFRECEMOS*/
.servicios__lista {
    padding: 2%;
    margin-left: 5%;
    text-align: left;
    position: relative;
    .servicios__ul {
        list-style: circle;
        .servicios__li {
            line-height: 2.5;
            .servicios__a {
                font-size: small;
                font-weight: bold;
            }
        }
    }
    
}



/*GALERIA DE FOTOS*/
.grid-galeria {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 1%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 1500px;
    .grid-fotos {
        height: 90%; 
        object-fit: cover;
        padding-top: 10%;
        max-width: 100%;
        max-height: 100%;
    }
}

/*GALERIA DE VIDEOS*/
.video{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 5%;
    margin: 5%;  
    padding-left: 5%;
    .video__video {
        width:560px; 
        height:315px;
    }
}