.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 7%;
    justify-items: center;
    padding: 5%;

    .texto{
        border: solid 5px white;
        border-radius: 20%;
        background-color: $fondo-blanco;
        text-align: center;
        padding: 2%;
    }
}

