.grid-main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-items: center;
    .index-texto{
        text-align: center;
        word-spacing: 5px;
        background-color: $fondo-blanco;
        margin: 10%;
        padding: 2%;
        border: solid 5px white;
        &:hover {
            font-weight: bolder;
            background-color: white;
        }
    }
}
.grid-galeria {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 1%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    .grid-fotos {
        height: 90%; 
        object-fit: cover;
        padding-top: 10%;
    }
}
.video{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 5%;
    margin: 5%;  
    padding-left: 5%;
}