
.empleados {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 3%;
    justify-items: center;
    column-gap: 2%;
    .foto__individual {
        border: solid 5px white;
        background-color: black;
        color: white;
        position: relative;
        .foto__carnet {
            opacity: 1;
            width: 100%;
            display: block;
            transition: .5s ease;
            height: auto;
            backface-visibility: hidden;
            &:hover {
                opacity: 0.3;
            }
        }
        .foto__boton {
            text-align: center;
            font-weight: bold;
        }
        .efecto {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            &:hover {
                opacity: 1;
            }
            .efecto__empleados {
                background-color: #4CAF50;
                color: white;
                font-size: 16px;
            }
        }
    }
}

.colaboradores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    .link__empresa{
        border: solid 3px black;
        border-radius: 50%;
        text-align: center;
        background-color: white;
        padding: 1%;
        &:hover {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);  
        }
    }
}